.welcome > .welcomepng > img{
    height: 50%;
    width: 50%;
    padding-left: 80px;
    padding-top: 50px;

}

.about-img > img{
    height: 50%;
    width: 50%;
    padding-left: 80px;
    padding-top: 10px;
}




